[Unit]
Description=Prometheus
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill prometheus
ExecStartPre=-/usr/bin/docker rm prometheus
ExecStartPre=/usr/bin/docker pull prom/prometheus
ExecStart=/usr/bin/docker run --name prometheus -p 9090:9090 prom/prometheus
ExecStop=/usr/bin/docker stop prometheus